.font1 {
  font-size:25px;
  font-family:arial;

}

.gambarsize1 {
  height: 100px;
  width: 100px;
}

.texttengah {
  text-align: center;
}

.scrollpesanan {
  height: 400px !important;

}

.scrollpesanan-2 {
  height: 450px;

}

.ukuranicon {
  height: 20px;
  width: 20px;
}
