.font1 {
  font-size:25px;
  font-family:arial;

}

.gambarsize1 {
  height: 100px;
  width: 100px;
}

.texttengah {
  text-align: center;
}

.scrollpesanan {
  height: 500px;

}
.ukuranicon {
  height: 20px;
  width: 20px;
}
