.header
{
  margin-top: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.gambar
{
  padding-top: 20px ;
  padding-bottom: 20px;
}

.up
{
  margin-left: -10px;
  padding-top: 110px;
  padding-right: 200px;
}

.fm
{
  margin : 10px;
}

.tmbl
{     float: right;
      padding-top: 20px;
      padding-bottom: 30px;
}

.exitbutton
{
  float: right;
  margin-right: -13px;
}
