div.ex1 {
    background-color: lightblue;
    width: 170px;
    height : 150px;
    margin-bottom: 7px;
    background-color: aquamarine;
    overflow-y: scroll;
  }

.d-grid{
  bottom: 10px;
}

div.ex1::-webkit-scrollbar{
  width: 10px;
}

div.ex1::-webkit-scrollbar-thumb{
  background-color: #7775;
  border-radius: 5px;
}
div.ex1::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

div.ex1::-webkit-scrollbar-track{
  background-color: aquamarine;
  border-radius: 5px;
}

div.ex1::-webkit-scrollbar-track:hover{
  background-color: rgb(118, 219, 185);
}
