html, body{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgrey;
    line-height: 1.5;
    padding-bottom: 500px;

}
.container-dua{
    max-width: 1000px;
    margin: 50px auto;
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;

}

.pesanan{
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
    background-color: aquamarine;
    margin-top: 20px;
    margin: 20px;
}
/* @media( min-width : 600px){
    .container-dua{
        display: flex;
        justify-content: space-between;
    }

    .layanan{
        width:30%;
    }

    .thumbnail{
        width: 25%;
    }
}

.header{
    padding-top: 50px;
} */
